.badges {
	margin-top: 202px;
	&-title {
		color: $white;
		@include font(1.8rem, calc(24.28 / 18));
		font-family: $title-font;
	}
	&-wrapper {
		display: grid;
		gap: 12px;
	}
}

@media screen and (max-width: 991px) {
	.badges {
		margin-top: 30px;
	}
}
