.btn {
	&-orange {
		text-align: center;
		color: $orange-300;
		border: 1px solid $orange-300;
		border-radius: 5px;
		min-width: 258px;
		@include font(1.6rem, calc(24 / 16));
		padding: 0.625em 1em;
		font-weight: 600;
		&::after {
			border-top: 6px solid;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			transform: translateY(2px);
		}
		&-sm {
			font-weight: 500;
			min-width: 160px;
			@include font(1.2rem, calc(18 / 12));
			padding: 0.667em 1.208em;
			filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.1));
			border-radius: 2px;
		}
	}
	&-green {
		text-align: center;
		color: $white;
		border-radius: 2px;
		max-width: 124px;
		background: $green-dark-300;
		@include font(1rem, calc(14 / 10));
		padding: 0.5em 1em;
		font-weight: 600;
	}
}

@media screen and (max-width: 991px) {
	.btn {
		&-orange {
			@include font(1.4rem, calc(21 / 14));
			min-width: 240px;
			&-sm {
				font-weight: 500;
				min-width: 160px;
				@include font(1.2rem, calc(18 / 12));
				padding: 0.667em 1.208em;
				filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.1));
				border-radius: 2px;
			}
		}
	}
}
