.btn {
	&-orange {
		text-align: center;
		color: $orange-300;
		border: 1px solid $orange-300;
		border-radius: 5px;
		min-width: 258px;
		@include font(1.6rem, calc(24 / 16));
		padding: 0.625em 1em;
		font-weight: 600;
	}
	&-green {
		text-align: center;
		color: $white;
		border-radius: 2px;
		max-width: 124px;
		background: $green-dark-300;
		@include font(1rem, calc(14 / 10));
		padding: 0.5em 1em;
		font-weight: 600;
	}
}

@media screen and (max-width: 991px) {
	.btn {
		&-orange {
			@include font(1.4rem, calc(21 / 14));
			min-width: 240px;
		}
	}
}
