.content {
	padding: 0 60px 0 32px;
	&-wrapper {
		gap: 56px;
		margin-top: 32px;
		padding-bottom: 128px;
	}
	&-additional {
		min-width: 216px;
	}
	&-section {
		&:not(:first-child) {
			margin-top: 40px;
		}
		&-top {
			margin-bottom: 24px;
		}
		&-title {
			margin: 0;
			@include font(1.8rem, calc(27 / 18));
			font-weight: 400;
			& b {
				font-weight: 700;
				color: $green-dark-300;
			}
		}
		&-dropdown {
			font-weight: 500;
			text-align: left;
			&::after {
				position: absolute;
				right: 16px;
				top: 50%;
				transform: translateY(-50%);
				border-top: 0.5em solid;
				border-left: 0.4em solid transparent;
				border-right: 0.4em solid transparent;
			}
		}
	}
	&-card {
		padding: 10px 12px;
		border-radius: 8px;
		background: $white;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		&-col {
			min-height: 64px;
			flex-shrink: 0;
			flex-grow: 1;
			max-width: 15.89%;
			&:not(:last-child) {
				margin-right: 12px;
			}
			&:not(:first-child),
			&:not(:last-child) {
				max-width: 14.67%;
			}
			&-title {
				margin-top: 2px;
				@include font(1.2rem, calc(18 / 12));
				color: rgba($purple-300, 0.75);
			}
			&-res {
				font-weight: 600;
				@include font(1.4rem, calc(19 / 14));
				color: $green-dark-300;
				margin: 0;
				margin-bottom: 2px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.content {
		padding: 54px 20px 0;
		&-wrapper {
			margin-top: 20px;
		}
		&-section {
			&:not(:first-child) {
				margin-top: 30px;
			}
			&-top {
				margin-bottom: 16px;
				gap: 12px;
				& .dropdown {
					max-width: fit-content;
				}
			}
			&-title {
				margin: 0;
				@include font(1.6rem, calc(24 / 16));
			}
		}
		&-card {
			margin-bottom: 12px;
			padding: 12px 13px 7px;
			border-radius: 5px;
			gap: 12px;
			&:last-child {
				margin-bottom: 0;
			}
			&-col {
				min-height: auto;
				&-title {
					margin: 0;
					margin-bottom: 6px;
				}
				&-res {
					margin: 0;
					font-weight: 500;
					@include font(1.2rem, calc(18 / 12));
				}
			}
		}
	}
}
