.dropdown-toggle {
	&-menu {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: $white;
		transform: translateY(calc(100% + 4px));
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
		list-style: none;
		padding: 0;
		margin: 0;
		&.opened {
			opacity: 1;
			pointer-events: auto;
		}
	}
}
