.goback {
	margin-top: 12px;
	&-btn {
		color: $green-dark-300;
		@include font(1.6rem, calc(24 / 16));
		outline: none;
		border: none;
		&:hover,
		&:active,
		&:first-child:active {
			color: $green-dark-300;
		}
		& span {
			display: inline-block;
			margin-right: 12px;
		}
	}
}

@media screen and (max-width: 991px) {
	.goback {
		&-btn {
			@include font(1.4rem, calc(21 / 14));
			& span {
				margin-right: 8px;
			}
		}
	}
}
