.navbar {
	&-brand {
		color: $white;
		@include font(2.4rem, calc(32.38 / 24));
		font-family: $title-font;
		transition: color 0.3s;
	}
	&-profile {
		background: rgba($white, 0.8);
		border: 0.5px solid $pink-300;
		border-radius: 2px;
		box-shadow: -28px 22px 45px rgba(27, 29, 66, 0.139423);
		margin-top: 39px;
		padding: 5px 17px;
		& img {
			border-radius: 50%;
			border: 0.5px solid $light-200;
		}
		&__info {
			margin-left: 7px;
			& p {
				font-family: $font-secondary;
				font-weight: 600;
				@include font(1rem, calc(13.5 / 10));
				color: $green-dark-300;
			}
			& h3 {
				font-family: $font-secondary;
				font-weight: 800;
				@include font(1.2rem, calc(16.37 / 12));
				color: $green-dark-300;
			}
		}
	}
	&-nav {
		padding: 0 10px;
		margin-top: 24px;
	}
	& .nav-link {
		color: $white;
		font-weight: 500;
		@include font(1.4rem, calc(21 / 14));
		display: inline-block;
		&.disabled {
			opacity: 0.5;
		}
		& img {
			margin-right: 16px;
		}
	}
	& .nav-item {
		margin-bottom: 21px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-toggler {
		position: relative;
		padding: 6px;
		width: 12px;
		height: 12px;
		box-sizing: content-box;
		border: none;
		&:hover,
		&:active,
		&:focus {
			border: none;
			outline: none;
			box-shadow: none;
		}
		& span {
			position: absolute;
			width: 12px;
			height: 1px;
			border-radius: 1px;
			background: $white;
			top: 50%;
			left: 50%;
			transition: all 0.3s;
			&:first-child {
				transform: translate(-50%, calc(-50% - 4px));
			}
			&:last-child {
				transform: translate(-50%, calc(-50% + 1px));
			}
		}
		&-close {
			& span {
				width: 19px;
				background: $green-dark-300;
				&:first-child {
					transform: translate(-50%, -50%) rotate(45deg);
					// transform: rotate(45deg) translateY(2px);
				}
				&:last-child {
					transform: translate(-50%, -50%) rotate(-45deg);
					// transform: rotate(-45deg) translateY(-2px);
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.navbar {
		padding: 0;
		&-brand {
			margin-right: auto;
			@include font(2rem, calc(27 / 20));
		}
		&-profile {
			margin: 0;
		}
	}
	.nav {
		&-link {
			color: $white;
			font-weight: 500;
			@include font(1.4rem, calc(21 / 14));
			display: inline-block;
			&.disabled {
				opacity: 0.5;
				color: $white;
			}
			& img {
				margin-right: 16px;
			}
		}
		&-item {
			margin-bottom: 21px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
