.progress {
	&-round {
		width: 100px;
		height: 100px;
		display: grid;
		place-items: center;
		margin-right: 20px;
		position: relative;
		flex-shrink: 0;
	}
	&-res {
		margin: 0;
		font-weight: 700;
		@include font(1.6rem, calc(24 / 16));
		color: $green-dark-300;
	}
	&-description {
		& p {
			max-width: 604px;
			@include font(1.6rem, calc(24 / 16));
			margin: 0;
		}
	}
	&-svg {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	&-circle {
		stroke-width: 2.8;
		stroke-linecap: round;
		animation: progress 1s ease-out forwards;
	}
}

@media screen and (max-width: 991px) {
	.progress {
		&-description {
			& p {
				@include font(1rem, calc(15 / 10));
			}
		}
		&-round {
			width: 87px;
			height: 87px;
			margin-right: 15px;
			flex-shrink: 0;
		}
		&-res {
			@include font(1.45rem, calc(22 / 14.5));
		}
	}
}

@keyframes progress {
	0% {
		stroke-dasharray: 0 100;
	}
}
