.search {
	&-input {
		border-radius: 0;
		background: rgba($green-dark-300, 0.06);
		padding: 10px 21px 9px;
		border: none;
		color: $green-dark-300;
		@include font(1.4rem, calc(21 / 14));
		&::placeholder {
			color: $green-dark-300;
			@include font(1.4rem, calc(21 / 14));
		}
	}
	&-btn {
		border: none;
		background: transparent;
	}
}

@media screen and (max-width: 991px) {
	.search {
		&-input {
		}
	}
}
