.summary {
	margin-bottom: 40px;
	&-wrapper {
		gap: 34px;
	}
	&-col {
		min-width: calc(50% - 17px);
	}
	&-block {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		& span:last-child {
			color: $purple-500;
		}
	}
}
