.aside {
	&-primary {
		z-index: 5;
		background: $green-dark-300;
		padding: 0 16px;
		padding-bottom: 32px;
	}
}

@media screen and (max-width: 991px) {
	.aside-primary {
		padding: 14px 20px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: background 0.3s;
		&-light {
			background: $light-600;
			& .navbar-brand {
				color: $green-dark-300;
			}
			& .header-notification-btn.new-messages::after {
				background: $green-dark-300;
			}
		}
	}
}
