.header {
	&-brand {
		@include font(2.4rem, calc(32.38 / 24));
		font-family: $title-font;
		color: $green-dark-300;
		text-decoration: none;
		margin-right: auto;
	}
	&-search {
		position: relative;
		margin-right: 39px;
		max-width: 37.05357%;
		width: 100%;
		& .search-btn {
			position: absolute;
			right: 21px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&-notification {
		margin-right: 42px;
		&-btn {
			position: relative;
			&.new-messages::after {
				content: '';
				position: absolute;
				width: 7px;
				height: 7px;
				background: $green-dark-300;
				border-radius: 50%;
				top: 3px;
				right: 1px;
				transition: background 0.3s;
			}
		}
	}
	&-profile {
		&-img {
			margin-right: 7px;
		}
		&-btn {
			@include font(1.3rem, calc(20 / 13));
			&::after {
				margin-left: 1em;
				border-top-color: $green-dark-300;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		padding-top: 20px;
		&-notification {
			margin: 0;
			margin-right: 16px;
			&-btn {
				&.new-messages::after {
					background: $light-400;
				}
			}
		}
		&-search {
			order: -1;
			margin: 0;
			margin-bottom: 12px;
			max-width: 100%;
			width: 450px;
		}
		&-brand {
			@include font(1.8rem, calc(24 / 18));
		}
	}
}
