.text {
	&_dark {
		color: $purple-500;
		@include font(1.4rem, calc(21 / 14));
		font-weight: 600;
		margin: 0;
	}
}

@media screen and (max-width: 991px) {
	.text {
		&_dark {
			font-weight: 700;
		}
	}
}
