// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$title-font: 'AbrilFatface', sans-serif;
$font: 'Poppins', Arial, sans-serif;
$font-secondary: 'Nunito', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$light-300: #f3f2ef;
$purple-300: #330033;
$green-dark-300: #27747a;
$orange-300: #e18a54;
$blue-300: #2e5cff;
$black: #333;
